body {
  font-family:"Helvetica", Sans-Serif;
  background-image:url( "./images/double-bubble-outline.webp" );
  background-size:auto;
}
grid{
  
}
.texture {
  background-image:url("./images/Background_Texture.png");
  background-color:rgb(121, 37, 199);

}
.pseudo-texture::before {
  opacity: 0.3;

  background-image:url("./images/Background_Texture.png");
}
